<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Error</title>
	<base href="http://192.168.1.137:8080/" target="_blank">

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="../../assets/images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/normalize.css">
	<link rel="stylesheet" href="../../assets/css/scrollbar.css">
	<link rel="stylesheet" href="../../assets/css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css">
	<link rel="stylesheet" href="../../assets/css/linearicons.css">
	<link rel="stylesheet" href="../../assets/css/tipso.css">
	<link rel="stylesheet" href="../../assets/css/chosen.css">
	<link rel="stylesheet" href="../../assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
	<link rel="stylesheet" href="../../assets/css/color.css">
	<link rel="stylesheet" href="../../assets/css/transitions.css">
	<link rel="stylesheet" href="../../assets/css/responsive.css">
	<script src="../../assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="wt-login">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader Start -->
	<!-- <div class="preloader-outer">
		<div class="loader"></div>
	</div> -->
	<!-- Preloader End -->
	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">
			<!-- Header Start -->

			<!--Header End-->

			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<!--Register Form Start-->
				<div class="wt-haslayout wt-main-section">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
								<div class="wt-404errorpage">
									<figure class="wt-404errorimg"><img src="../../assets/images/err.jpg"
											alt="img description"></figure>
									<!-- <figure class="wt-404errorimg"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtcsdU7q3MI_ppk5lNuArOmJ8fSJJO04p0v6anmCrECnfPNZ0aXA&s" alt="img description"></figure> -->
									<div class="wt-404errorcontent">
										<div class="wt-title">
											<h3><%=title%></h3>
										</div>
										<div class="wt-description">
											<h3><%=p%></h3>
										</div>
										<div><a href="/" class="btn btn-dark">Back To Home :)</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Register Form End-->
			</main>
			<!--Main End-->

		</div>
		<!--Content Wrapper End-->
	</div>
	<!--Wrapper End-->
	<script src="../../assets/js/vendor/jquery-3.3.1.js"></script>
	<script src="../../assets/js/vendor/jquery-library.js"></script>
	<script src="../../assets/js/vendor/bootstrap.min.js"></script>
	<script src="../../assets/js/owl.carousel.min.js"></script>
	<script src="../../assets/js/chosen.jquery.js"></script>
	<script src="../../assets/js/tilt.jquery.js"></script>
	<script src="../../assets/js/scrollbar.min.js"></script>
	<script src="../../assets/js/prettyPhoto.js"></script>
	<script src="../../assets/js/jquery-ui.js"></script>
	<script src="../../assets/js/readmore.js"></script>
	<script src="../../assets/js/countTo.js"></script>
	<script src="../../assets/js/appear.js"></script>
	<script src="../../assets/js/tipso.js"></script>
	<script src="../../assets/js/jRate.js"></script>
	<script src="../../assets/js/main.js"></script>
</body>

</html>